.detail-section{
    padding: 3.25rem 1.25rem 3.5rem 1.25rem;
    font-family: jost;
}

.back-button{
    display: block;
    background-color: transparent;
    border: none;
    margin-bottom: 2rem;
}

.detail-wrapper{
    display: grid;
    row-gap: 1rem;
}
.detail-slider{
    max-height: 375px;
    transition: 500ms ease;
    display: flex;
    overflow: auto;
    flex-wrap: nowrap; 
    scroll-snap-type: x mandatory;

}

.detail-slider::-webkit-scrollbar{
    display: none;
}

.slides{
    flex: 0 0 auto;
    width: 100%;
    scroll-snap-align: start;
}








.detail-name{
    font-size: 26px;
    font-weight: 400;
}

.buy-button{
    font-family: jost;
    width: fit-content;
    padding: 1rem 3.5rem;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border: 2px solid #000;
    cursor: pointer;
    transition: 750ms ease;
}

.buy-button:hover{
    background-color: #fff;
    color: #000;
    transition: 750ms ease;
}

.detail-price{
    font-size: 19px;
}

.detail-description{
    
    margin-bottom: 2rem;
}

.detail-wrapper-desktop{
    display: none;
}


.img-size{
    aspect-ratio: 1/1;
}

.carousel-item{
    display: none;
}

.active-carousel-item{
    display: block;
    animation: active-item 1250ms ease;
}

@keyframes active-item {
    0%{
        opacity: .75;
    }

    100%{
        opacity: 1;
    }
}

.carousel-btn-container{
    padding: 1rem 0rem;
    width: 100%;
    
}



.carousel-btn{
    cursor: pointer;
    width: 25px;
    height: 25px;  
    margin-right: .45rem;
    display: inline-block;
    /* border-radius: 50%; */ 
    background-color: #fff;
    border: solid 1px #000;
    transition: 750ms ease;
}



.active-carousel-btn{
    background-color: #000;
    transition: 750ms ease;
}


@media(min-width:480px){
    .detail-slider{
        max-height: 475px;
    }

 
}

@media(min-width:768px){

    .detail-slider{
        max-height: 375px;
    }

    .detail-wrapper{
        display: none;
    }

    .detail-wrapper-desktop{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }

    .detail-img{
        max-height: 400px;
    }

    .detail-name{
        margin-bottom: 2rem;
    }

    .detail-price{
        margin-bottom: 2rem;
    }

    .carousel-btn{
        width: 30px;
        height: 30px;   
    }
    
}

@media(min-width:1024px){

    .detail-slider{
        max-height: 550px;
           
    }

    .detail-img{
        max-height: 475px;
    }

    .detail-section{
      
      padding: 1.25rem 3rem;
        
    }

    .buy-button{
        font-size: 20px;
    }

    .carousel-btn{
        width: 35px;
        height: 35px;   
    }

    
}
